<li class="span4">
	<article class="thumbnail">
		<img src="/images/chefs/carina/dishes/thumb1.png" alt="img1"/>                   
	</article>
	<div class="row-fluid thumb-desc">
		<div class="span8 description"><%= dish.name %></div>
		<div class="span4 price"><%= "$"+dish.price.to_s %></div>
	</div>
</li>