<li class="span4">
	<article class="thumbnail">
		<%= image_tag("/images/dishes/"+dish.id.to_s+"-200x200.jpg") %>
	</article>
	<div class="row-fluid thumb-desc">
		<div class="span8 description"><%= dish.name %></div>
		<div class="span4 price"><%= "$"+dish.price.to_s %></div>

		<%= link_to "Sell", "/dish/#{dish.id}/availabilities/new", :class => 'btn btn-primary' %>
	</div>
</li>